<h3>You found location 3!</h3>
<p>Blow into the microphone</p>
<div id="final-message">
	<img src="img/treasurechest.png" width="100%"><br><br>
	<a class="btn btn-primary btn-lg btn-block" id="continue" href='#/finished'>Continue</a>
</div>
